_temp*/
__pycache__/
build*/
.vscode/
.pytest_cache/
*.egg-info/
dist/

*.pyc
*.exe

*.deb
SCInt
SCReal
SCTemp
SCWork

*.zip
*.gz
*.tar

tests/*.u
tests/*.sn
tests/*.snm
tests/*.fi

tests/*.ech
tests/*.v0
tests/*.v1S
tests/*.v22

tests/*.U
tests/*.E
tests/*.EM
tests/*.EN
tests/*.EMN
tests/*.S
tests/*.SM
tests/*.SN
tests/*.SMN
tests/*.ELE

*.rpy*
ABQ*.dmp
